<div id="Menu">
    <div id="ContentMenu">
        <ul id="ul_1">
            <li class="li_1">
                <a href="/" title="Trang chủ" rel="nofollow"><span class="iConHomes"></span>Trang chủ</a>
            </li>
            <li class="li_1">
                <a href="#" title="Sản phẩm" rel="nofollow"> Sản phẩm</a>
                @Html.Raw(ViewBag.Menu)
            </li>
            <li class="li_1">
                <a href="/ban-tin-khuyen-mai" style="color:#F00" title="khuyến mại" rel="nofollow"> Khuyến mại</a>
            </li>
            <li class="li_1">
                <a href="/combo-caesar" title="Sản phẩm Caesar theo bộ" rel="nofollow">Combo Caesar</a>
            </li>

            <li class="li_1">
                <a href="/4/thiet-bi-ve-sinh-caersar-18.aspx" title="Tin tức"> Tin tức</a>
            </li>
            <li class="li_1">
                <a href="/4/Chinh-sach-dich-vu-19.aspx" title="Chính sách dịch vụ" rel="nofollow"> chính sách dịch vụ</a>
            </li>
            <li class="li_1">
                <a href="/He-Thong-phan-phoi.aspx" title="Hệ thống phân phối" rel="nofollow"> Hệ thống phân phối</a>
            </li>

            <li class="li_1">
                <a href="/Ban-do.aspx" title="Bản đồ" rel="nofollow"> Bản đồ</a>
            </li>
        </ul>
    </div>
</div>